@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	background: white;
}

::-webkit-scrollbar-thumb{
	background: #eca7a6;
}

#loading{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff
	url(./loading.gif) no-repeat center;
	z-index: 999;
}

html{
	font-size: 62.5%;
}

#myBtn {
	height: 4.5rem;
	width: 4.2rem;
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 3.0rem; /* Place the button at the bottom of the page */
	right: 3.0rem; /* Place the button 30rem from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: white; /* Set a background color */
	color: #eca7a6; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: auto; /* Some padding */
	border-radius: .4rem; /* Rounded corners */
	font-size: 2.5rem; /* Increase font size */
}

#myBtn:hover {
	color: white;
	background-color: black;
}






/* NAVIGATION */

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 4.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 70px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 52px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #00FFFF;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 3.5rem;
  font-weight: 500;
}

.logo > img{
  position: relative;
  top: auto;
  right: auto;
  padding-top: 25%;/*28*/
  /*height: 98%;98 86*/
  height: auto%;
  width: 50%;
  justify-content: center;
  text-align:center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  color: #5f5f5f;
}

.navbar .paragraph > p {
	font-size: 2.5rem;
	padding-left: 2= .5rem;
	max-width: 45%;
	padding-bottom: 2rem;
	color: Black;
}


.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

.nav-container input[type="checkbox"]:checked ~ .paragraph{
  display: none;
}






/* HOME */

.container {
	height: 100vh;
	width: 100%;
	background: url(./Media/Image/home-bg.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

.container .content {
	width: 100%;
	position: absolute;
	top: 25%;
}

.container .content .left-col {
	margin-left: 6.5%;
}

.container .content .left-col h1 {
	font-size: 9.0rem;
	color: white;
	line-height: 10.0rem;
	float: left;
}

.container .content .right-col {
	float: right;
	margin-right: 7%;
	margin-top: 12.0rem;
	display: flex;
	align-items: center;
}

.container .content .right-col p {
	font-size: 1.8rem;
	color: #5f5f5f;
	font-weight: bold;
	margin-right: 1.5rem;
}
.container .content .lolbutt a > button {
	font-size: 1.5rem;
  height: auto;
	width: 20%;
  display: block;
	border: .3rem solid;
  justify-content: left;
  text-align: center;
	padding: 0.5rem 0.5rem;
	position: relative;
	background-clip: padding-box;
	background: white;
	color: #eca7a6;
	font-weight: bold;
  margin-left: 5.6;
  margin-right: auto;
	border-width: .3rem;
	border-radius: .4rem;
	border-color: #eca7a6;
	transition: background 0.1s ease;
}
.container .content .lolbutt a > button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.container .content .lolbutt a > button:hover {
	background: #eca7a6;
	color: white;
	background-clip: padding-box;
}







/* ABOUT */

.about-area {
	height: 100vh;
	width: 100%;
	background: url(./Media/Image/bg-img.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

.about-area .about-image > img {
	padding-right: 15rem;
	padding-top: 15rem;
	width: 60rem;
	float: right;
}

.about-area .about-title h2 > span {
	padding-top: 15rem;
	padding-bottom: 3rem;
	padding-left: 2.5rem;
	display: block;
	font-weight: bold;
	font-size: 5.0rem;
	color: black;
	letter-spacing: .2rem;
}

.about-area .about-title .paragraph > p {
	font-size: 1.5rem;
	padding-left: 2.5rem;
	max-width: 45%;
	padding-bottom: 2rem;
	color: #5f5f5f;
}

.about-area .about-title a > button {
	font-size: 1.5rem;
	margin-left: 2.5rem;
	border: .3rem solid;
	padding: 0.5rem 0.5rem;
	position: relative;
	background-clip: padding-box;
	background: white;
	color: #eca7a6;
	font-weight: bold;
	border-width: .3rem;
	border-radius: .4rem;
	border-color: #eca7a6;
	transition: background 0.1s ease;
}

.about-area .about-title a > button:hover {
	background: #eca7a6;
	color: white;
	background-clip: padding-box;
}

/* FOOTER */

.footer-area {
	height: 100vh; 
	width: 100%;
	background: url(./Media/Image/footer-img.png);
	background-size: cover;
	background-position: center;
	position: relative;
}

.footer-area h1 {
	font-weight: normal;
	font-size: 2.5rem;
	letter-spacing: .4rem;
	padding: 18.5rem 0 10.0rem;
	color: white;
	text-align: center;
}

.footer-area .social-media {
	display: flex;
	justify-content: center;
}

.footer-area .social-media > a {
	display: flex;
	background: white;
	height: 7.5rem;
	width: 7.5rem;
	margin: 0 1.5rem;
	border-radius: .8rem;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: .6rem .6rem 1.0rem -.1rem rgba(0, 0, 0, 0.15), -.6rem -.6rem 1.0rem -.1rem rgba(255, 255, 255, 0.5);

	border: 1rem solid rgba(0, 0, 0, 0);
	transition: transform 0.5s;
}

.footer-area .social-media a i {
	font-size: 3.5rem;
	color: #eca7a6;
	transition: transform 0.5s;
}

.footer-area .social-media > a:hover {
	box-shadow: inset .4rem .4rem .6rem -.1rem rgba(0, 0, 0, 0.2), inset -.4rem -.4rem .6rem -.1rem rgba(255, 255, 255, 0.7),
		-0.05rem -0.05rem 0rem -.1rem rgba(255, 255, 255, 1), 0.05rem 0.05rem 0rem rgba(0, 0, 0, 0.15),
		0rem 1.2rem 1.0rem -1.0rem rgba(0, 0, 0, 0.05);

	border: .1rem solid rgba(0, 0, 0, 0.01);
	transform: translateY(.2rem);
}

.footer-area .social-media a:hover i {
	transform: scale(0.90);
}

.footer-area .social-media a:hover .fa-instagram {
	color: #f14843;
}
.footer-area .social-media a:hover .fa-facebook {
	color: #3b5998;
}
.footer-area .social-media a:hover .fa-linkedin {
	color: #0077b5;
}
.footer-area .social-media a:hover .fa-twitter {
	color: #00acee;
}
.footer-area .social-media a:hover .fa-github {
	color: #111;
}

.footer-area .devimg > img {
  position: relative;
  top: auto;
  right: auto;
  padding-top: auto;/*28*/
  /*height: 98%;98 86*/
  height: 86%;
  width: 100%;
  justify-content: center;
  text-align:center;
  display:block;
  margin-left: auto;
  margin-right: auto;
}





@media (max-width: 1024px) {
	html{
		font-size: 55%;
	}
	.about-area .about-image > img {
		width: 50%;
		padding-left: 4rem;
	}

	.footer-area .social-media {
		padding-top: 41rem;
	}
}

@media (max-width: 768px) {

	html{
		font-size: 70%;
	}
	.about-area .about-image > img {
		width: 80%;
	}

	.about-area .about-title h2 > span {
		padding-top: 50rem;
	}

	.about-area .about-title .paragraph > p {
		max-width: fit-content;
		padding-right: 2rem;
	}

	.footer-area .para {
		font-size: 3rem;
	}

	.footer-area .social-media {
		padding-top: 1.5rem;
	}
}

@media (max-width: 540px) {

	html{
		font-size: 45%;
	}
	.about-area .about-image > img {
		width: 80%;
	}

	.about-area .about-title .paragraph > p {
		color: #5f5f5f;
		padding: 0 3rem;
	}

	.about-area .about-title h2 > span {
		padding-top: 55rem;
	}

	.about-area .about-title a > button {
		margin-top: 2rem;
	}
}

@media (max-width: 450px) {

	html{
		font-size: 45%;
	}
	.about-area .about-image > img {
		width: 100%;
		padding: 17rem 10rem;
	}

	.about-area .about-title h2 > span {
		padding-left: 3.5rem;
	}

	.about-area .about-title .paragraph > p {
		padding: 0rem 3rem;
		max-width: fit-content;
	}
	
	.about-area .about-title a > button {
		margin-top: 2rem;
	}

	.footer-area .social-media {
		padding-top: 9.5rem;
	}

	#icon{
		width: 40%;
	}
}

@media (max-width: 360px) {
	html{
		font-size: 40%;
	}

	.about-area .about-image > img {
		padding: 15rem 10rem;
	}

	.about-area .about-title .paragraph > p {
		padding-right: 5rem;
		padding-left: 5rem;
		max-width: fit-content;
	}

	.about-area .about-title h2 > span {
		padding-left: 12rem;
	}
	
	.about-area .about-title a > button {
		margin-left: 21.5rem;
	}

	.footer-area .social-media {
		padding-top: 14rem;
	}

	#icon{
		width: 30%;
	}
}

@media (max-width: 320px) {
	html{
		font-size: 40%;
	}
	.container .content .right-col {
		float: right;
		margin-right: 1%;
		margin-top: 8rem;
	}

	.about-area .about-image > img {
		width: 110%;
		padding-left: 17rem;
	}

	.about-area .about-title h2 > span {
		padding-left: 9rem;
	}

	.about-area .about-title a > button {
		margin-left: 18.5rem;
	}

	.about-area .about-title .paragraph > p {
		padding-right: 5rem;
		padding-left: 5rem;
	}

	.footer-area h1 {
		font-size: 2.25rem;
	}
	

	.footer-area .social-media {
		padding-top: 8.5rem;
	}

	#icon{
		width: 30%;
	}
}



@media (max-width: 280px) {
	html{
		font-size: 40%;
	}
}
